<div class="container-fluid">
  <h1>This Is Just Simple Form.</h1>
  <form #userForm ="ngForm">
    <h5>Form Data</h5>
    {{userForm.value|json}}
    <hr/>
    <h5>User Model Class Data</h5>
    {{userModel |json}}

    <div class="col-md-5">
      <label>Name</label>
      <input type="text"  required #name="ngModel" name="username" [class.is-invalid]="name.invalid && name.touched" class="form-control" [(ngModel)]="userModel.name">
    </div>
    
    <div class="col-md-5">
      <label>Email</label>
      <input type="email" name="email" class="form-control" [(ngModel)]="userModel.email">
    </div>

    <div class="col-md-5">
      <label>Phone</label>
      <input type="tel" name="phone" class="form-control"[(ngModel)]="userModel.phone">
    </div>
    <br>
    <div class="col-md-5">
      <select name="topic" class="custom-select" [(ngModel)]="userModel.topic">
        <option value="">Interested In</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
    </div>
    <br>
    <div class="col-md-5">
      <label>Time Refeerances</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
        <label class="form-check-lable">Morning (9AM-12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
        <label class="form-check-lable">Evening (5PM-8PM)</label>
      </div>
    </div>

    <div class="col-md-5">
      <input name="Promotional" class="form-check-input" type="checkbox" [(ngModel)]="userModel.Promotional">
      <label class="form-check-lable">Send me Promotional Offers</label>
    </div>
    <br> 

    <button class="btn btn-success">Submit</button>
  </form>
</div>

<router-outlet></router-outlet>
